app/projects/main/flows.json
[
    {
        "id": "2e500814.afac28",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52af66b9.f34a68",
        "type": "inject",
        "z": "2e500814.afac28",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "72257969.46a438"
            ]
        ]
    },
    {
        "id": "cdaa07e9.970b28",
        "type": "http request",
        "z": "2e500814.afac28",
        "name": "Wg Web",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "d75f44aa.442928"
            ]
        ]
    },
    {
        "id": "e3333687.262468",
        "type": "debug",
        "z": "2e500814.afac28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "5536bd35.91d864",
        "type": "inject",
        "z": "2e500814.afac28",
        "name": ">",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "b6828ea6.e53b8"
            ]
        ]
    },
    {
        "id": "b6828ea6.e53b8",
        "type": "function",
        "z": "2e500814.afac28",
        "name": "global.config",
        "func": "global.set(\"config\",{\n    wireguard: {\n        api: {\n            url: env.get(\"WIREGUARD_API_URL\")\n        }\n    }\n})\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "72257969.46a438",
        "type": "function",
        "z": "2e500814.afac28",
        "name": "Get OAuth url",
        "func": "var config = global.get(\"config\")\n\nmsg.url = `${config.wireguard.api.url}/auth/oauth2_url`\nmsg.method = \"GET\"\n\nmsg.payload = {}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "cdaa07e9.970b28"
            ]
        ]
    },
    {
        "id": "d75f44aa.442928",
        "type": "function",
        "z": "2e500814.afac28",
        "name": "Get OAuth token",
        "func": "var config = global.get(\"config\")\nvar response = msg.payload\n\nmsg.url = `${config.wireguard.api.url}/auth/oauth2_exchange`\nmsg.method = \"POST\"\n\nmsg.payload = {\n    clientId: response.clientId,\n    state: response.state\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "12693274.23c8be"
            ]
        ]
    },
    {
        "id": "12693274.23c8be",
        "type": "http request",
        "z": "2e500814.afac28",
        "name": "Wg Web",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 860,
        "y": 240,
        "wires": [
            [
                "3ff3d526.4a1ffa"
            ]
        ]
    },
    {
        "id": "3ff3d526.4a1ffa",
        "type": "function",
        "z": "2e500814.afac28",
        "name": "Get WIreguard clients",
        "func": "var config = global.get(\"config\")\nvar response = msg.payload\n\nmsg.url = `${config.wireguard.api.url}/status/clients`\nmsg.method = \"GET\"\n\nmsg.headers = {\n    \"x-wg-gen-web-auth\": response\n}\n\nmsg.payload = {}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 360,
        "wires": [
            [
                "eaa656d4.2a50e8"
            ]
        ]
    },
    {
        "id": "eaa656d4.2a50e8",
        "type": "http request",
        "z": "2e500814.afac28",
        "name": "Wg Web",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "e3333687.262468"
            ]
        ]
    }
]